# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Executables
*.out
*.app
*.exe
*.lib
*.dll
*.pdb
*.idb
*.obj
*.tlog
*.log
*.1.tlog
*.lnk
*.xcodeproj
*.sln

*.DS_STORE
/Build
/.cmake
/.idea
/cmake-*
